.yt-pic{
  width: 25%;
  border: solid;
  border-radius: 5px;
}

.endurace-pic{  
  width: 25%; 
  border: solid;
  border-radius: 5px;
}

.board-pic{
  width: 25%; 
  border: solid;
  border-radius: 5px;
}

.greats-pic{
  width: 25%; 
  border: solid;
  border-radius: 5px;
}

.hybrid-pic{
  background-color: white;
  width: 25%; 
  border: solid;
  border-radius: 5px;
}
