body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: lightgray;
}


.opening-content{
    background-color: #865fe7;
    border-radius: 12px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    border: solid;
    border-radius: 5px;
    max-width: 500px;
}

.list-content{
    background-color: darkgray;
    border-radius: 12px;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-right: 50px;
    border: solid;
    border-radius: 5px;
    text-shadow: 2px 1px 2px black;
    max-width: 500px;
}

.content-summary{
    background-color: #865fe7;
    border-radius: 12px;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    border: solid;
    border-radius: 5px;
    max-width: 500px;
}

.center-text-box{
    background-color: darkgray;
    width: 25%; 
    border: solid;
    border-radius: 5px;
    padding: 10px;
 }
  
  .center-text{
    text-align: center;
    font-size: 28px;
}

.parent-container {
  display: flex;
  flex-direction: column;

  .div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 25px;
  }

  .board-text-box{
    background-color: darkgray;
    width: 25%; 
    border: solid;
    border-radius: 5px;
    padding: 10px;
  }

  .board-text{
    display: flex;
    justify-content: space-evenly;
  }
}

.snow-box{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.snow-opening-content{
  background-color: #865fe7;
  border-radius: 12px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  padding: 10px;
  border: solid;
  border-radius: 5px;
  max-width: 500px;
}